#pong, #game_docker {
	position: relative;
	width: 720px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Luxi Serif";
}

.final_msg {
	position: absolute;
	top: 50px;
	left: 40px;
	font-size: 40px;
	display: none;
}

.btn {
	position: absolute;
	font-size: 20px;
	border: 1px black solid;
	border-radius: 10px;
}

#first-btn {
	top: 50px;
	left: 75px;
}

#second-btn {
	top: 100px;
	left: 75px;
}

#restart {
	top: 100px;
	left: 40px;
	font-size: 20px;
}

#chrono {
	position: absolute;
	top: 50px;
	left: 500px;
	font-size: 30px;
}
