body {
	background-color: #666666; /* FOND DE LA PAGE */
}

#pong {
	background-color: #000000; /* FOND DU PONG */
	width: 720px; /* DIMENSION DU PONG */
	height: 400px;
	margin-left: auto; /* CENTRE LE PONG PAR RAPPORT A LA PAGE */
	margin-right: auto;
	border: solid 5px #FFFFFF; /* DEFINITION DE LA BORDURE ET DE SA COULEUR */
}

#chrono {
	color: #FFFFFF;
	margin-left: 50px;
	margin-top: 50px;
}

#try {
	color: #FFFFFF;
	margin-left: 50px;
	margin-top: 75px;
}

#filet {
	background-color: #FFFFFF; /* COULEUR DU FILET */
}

#ball {
	background-color: #ffc520; /* COULEUR DE LA BALLE */
	position: absolute;
	width: 15px; /* DIMENSION DE LA BALLE */
	height: 15px;
}

.player { /* DEFINITION D'UN ELEMENT PLAYER */
	background-color: #FFFFFF;
	position: absolute;
	width: 10px;
	height: 90px;
}
