body {
	background-color: #666666;
}

#map {
	background-color: #000000;
	width: 720px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border: solid 5px #FFFFFF;
}

#filet {
	background-color: #FFFFFF;
	width: 10px;
	height: 400px;
	margin-left: 355px;
}

.player {
	position: absolute;
	background-color: #FFFFFF;
	width: 10px;
	height: 90px;
}

#player-1 {
	margin-left: 10px;
	background-color: #000066;
}

#player-2 {
	margin-left: 172px;
	background-color: #006600;
}

#player-3 {
	margin-left: 532px;
	background-color: #999999;
}

#player-4 {
	margin-left: 700px;
}
