body {
	background-color: black;
	color: white;
}

#play_zone {
	text-align: center;
	display: block;
	width: 80%;
	padding: 50px 10%;
	height: 450px;
}

#canvas {
	background-color: white;
	width: 1000px;
	height: 500px;
}